<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aa3b3ab5b8d591d946c4f2b325d413c2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_aa3b3ab5b8d591d946c4f2b325d413c2" ></div>
        
</body>
<script>
    
    
            var map_aa3b3ab5b8d591d946c4f2b325d413c2 = L.map(
                "map_aa3b3ab5b8d591d946c4f2b325d413c2",
                {
                    center: [56.326887, 44.005986],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_64839d83f3d72472eb76a348d48b374f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 11, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_64839d83f3d72472eb76a348d48b374f.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var feature_group_6e1424ccf41fc66533233011cb5a795f = L.featureGroup(
                {}
            );
        
    
            var marker_69a0d58f490239c427a6fb91e1a2a2b4 = L.marker(
                [56.32854154443085, 44.002311240261186],
                {}
            ).addTo(feature_group_6e1424ccf41fc66533233011cb5a795f);
        
    
        var popup_5ea2206072ba192a21153f6515289358 = L.popup({"maxWidth": "100%"});

        
            
                var html_ddf4a167d31e6bfbb6c82e4b6f23d202 = $(`<div id="html_ddf4a167d31e6bfbb6c82e4b6f23d202" style="width: 100.0%; height: 100.0%;"><b>Кремль</b><br>Историческая крепость с прекрасным видом на Волгу.</div>`)[0];
                popup_5ea2206072ba192a21153f6515289358.setContent(html_ddf4a167d31e6bfbb6c82e4b6f23d202);
            
        

        marker_69a0d58f490239c427a6fb91e1a2a2b4.bindPopup(popup_5ea2206072ba192a21153f6515289358)
        ;

        
    
    
            var marker_17e647c042995fe4efc3d601ecd92365 = L.marker(
                [56.33502428254962, 43.97606847991595],
                {}
            ).addTo(feature_group_6e1424ccf41fc66533233011cb5a795f);
        
    
        var popup_b4f8807b4d26a69c17f634f66bc7323c = L.popup({"maxWidth": "100%"});

        
            
                var html_cb872c94d1d8c5dd78dc16c8d2e38b10 = $(`<div id="html_cb872c94d1d8c5dd78dc16c8d2e38b10" style="width: 100.0%; height: 100.0%;"><b>Стрелка</b><br>Место, где Волга впадает в Оку, отличное для прогулок и отдыха.</div>`)[0];
                popup_b4f8807b4d26a69c17f634f66bc7323c.setContent(html_cb872c94d1d8c5dd78dc16c8d2e38b10);
            
        

        marker_17e647c042995fe4efc3d601ecd92365.bindPopup(popup_b4f8807b4d26a69c17f634f66bc7323c)
        ;

        
    
    
            var marker_b6c91953e506cbf1e92303abacff35a2 = L.marker(
                [56.3305762179773, 44.009503659812914],
                {}
            ).addTo(feature_group_6e1424ccf41fc66533233011cb5a795f);
        
    
        var popup_5643726bad0f2c2b2e7a47c2c0f8c701 = L.popup({"maxWidth": "100%"});

        
            
                var html_40dbc5879033a8ff35e40f0cac9cd3cb = $(`<div id="html_40dbc5879033a8ff35e40f0cac9cd3cb" style="width: 100.0%; height: 100.0%;"><b>Чкаловская лестница</b><br>Известная лестница с 560 ступенями, ведущая к Волге.</div>`)[0];
                popup_5643726bad0f2c2b2e7a47c2c0f8c701.setContent(html_40dbc5879033a8ff35e40f0cac9cd3cb);
            
        

        marker_b6c91953e506cbf1e92303abacff35a2.bindPopup(popup_5643726bad0f2c2b2e7a47c2c0f8c701)
        ;

        
    
    
            var marker_f9fbf7f157b3dd562476146821877206 = L.marker(
                [56.328492644568, 43.96124942676731],
                {}
            ).addTo(feature_group_6e1424ccf41fc66533233011cb5a795f);
        
    
        var popup_d003c8a28f35d7b325f58ef41e92a0c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_d0663916c0e5ff2d7115c6dd2bcf48ed = $(`<div id="html_d0663916c0e5ff2d7115c6dd2bcf48ed" style="width: 100.0%; height: 100.0%;"><b>Нижегородская ярмарка</b><br>Центральный выставочный центр Нижнего Новгорода</div>`)[0];
                popup_d003c8a28f35d7b325f58ef41e92a0c4.setContent(html_d0663916c0e5ff2d7115c6dd2bcf48ed);
            
        

        marker_f9fbf7f157b3dd562476146821877206.bindPopup(popup_d003c8a28f35d7b325f58ef41e92a0c4)
        ;

        
    
    
            var marker_3de37b0e9c760c9df71f76b4a2214ea4 = L.marker(
                [56.278789752399426, 43.974851013270836],
                {}
            ).addTo(feature_group_6e1424ccf41fc66533233011cb5a795f);
        
    
        var popup_078b1363f65591b026d5560a007a2025 = L.popup({"maxWidth": "100%"});

        
            
                var html_286a3c2fc37e02896e334e3793dba465 = $(`<div id="html_286a3c2fc37e02896e334e3793dba465" style="width: 100.0%; height: 100.0%;"><b>Парк Швейцария</b><br>Один из крупнейших парков города, отличное место для прогулок.</div>`)[0];
                popup_078b1363f65591b026d5560a007a2025.setContent(html_286a3c2fc37e02896e334e3793dba465);
            
        

        marker_3de37b0e9c760c9df71f76b4a2214ea4.bindPopup(popup_078b1363f65591b026d5560a007a2025)
        ;

        
    
    
            feature_group_6e1424ccf41fc66533233011cb5a795f.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var feature_group_adcd52a532cb9355b6514249270f17e0 = L.featureGroup(
                {}
            );
        
    
            var marker_f069cdca7c49475de14f5587820e392a = L.marker(
                [56.32219007143675, 44.01012612592627],
                {}
            ).addTo(feature_group_adcd52a532cb9355b6514249270f17e0);
        
    
        var popup_66b91fc6045d9719102765ab58d1c53b = L.popup({"maxWidth": "100%"});

        
            
                var html_267d9c97768624991c5bd62ea023254d = $(`<div id="html_267d9c97768624991c5bd62ea023254d" style="width: 100.0%; height: 100.0%;"><b>ПАО Сбербанк</b><br>Моя будущая работа</div>`)[0];
                popup_66b91fc6045d9719102765ab58d1c53b.setContent(html_267d9c97768624991c5bd62ea023254d);
            
        

        marker_f069cdca7c49475de14f5587820e392a.bindPopup(popup_66b91fc6045d9719102765ab58d1c53b)
        ;

        
    
    
            feature_group_adcd52a532cb9355b6514249270f17e0.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var tile_layer_735978b95c757c64e15b809352a438ac = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_735978b95c757c64e15b809352a438ac.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var tile_layer_4e1896ca29d13d26a4977d6207362ba9 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_4e1896ca29d13d26a4977d6207362ba9.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var tile_layer_63f4eb72e99250e9e9363817be6f265e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data \u00a9 OpenStreetMap contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_63f4eb72e99250e9e9363817be6f265e.addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);
        
    
            var layer_control_52ed053f5e5c4ba7b73908fec812daae_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_63f4eb72e99250e9e9363817be6f265e,
                    "cartodbpositron" : tile_layer_735978b95c757c64e15b809352a438ac,
                    "cartodbdarkmatter" : tile_layer_4e1896ca29d13d26a4977d6207362ba9,
                },
                overlays :  {
                    "\u041e\u0442\u043e\u0431\u0440\u0430\u0437\u0438\u0442\u044c \u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043d\u044b\u0435 \u043c\u0435\u0441\u0442\u0430" : feature_group_6e1424ccf41fc66533233011cb5a795f,
                    "\u043c\u0435\u0441\u0442\u043e \u0440\u0430\u0431\u043e\u0442\u044b" : feature_group_adcd52a532cb9355b6514249270f17e0,
                },
            };
            let layer_control_52ed053f5e5c4ba7b73908fec812daae = L.control.layers(
                layer_control_52ed053f5e5c4ba7b73908fec812daae_layers.base_layers,
                layer_control_52ed053f5e5c4ba7b73908fec812daae_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_aa3b3ab5b8d591d946c4f2b325d413c2);

        
</script>
</html>