<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab374d0e559444a230254931749b8d76 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ab374d0e559444a230254931749b8d76" ></div>
        
</body>
<script>
    
    
            var map_ab374d0e559444a230254931749b8d76 = L.map(
                "map_ab374d0e559444a230254931749b8d76",
                {
                    center: [56.326887, 44.005986],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3d19a8fb20107775609573cbfe957e1b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 11, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3d19a8fb20107775609573cbfe957e1b.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var feature_group_4e691fdd307e5d035cd0ffff0f30935c = L.featureGroup(
                {}
            );
        
    
            var marker_ebcde1d0bdb4ff3a0428ba00a00d5cea = L.marker(
                [56.32854154443085, 44.002311240261186],
                {}
            ).addTo(feature_group_4e691fdd307e5d035cd0ffff0f30935c);
        
    
        var popup_8dd7ccb8f26674023d25a3342734da74 = L.popup({"maxWidth": "100%"});

        
            
                var html_7fd18542e5ddeadc1768929a261dd22f = $(`<div id="html_7fd18542e5ddeadc1768929a261dd22f" style="width: 100.0%; height: 100.0%;"><b>Кремль</b><br>Историческая крепость с прекрасным видом на Волгу.</div>`)[0];
                popup_8dd7ccb8f26674023d25a3342734da74.setContent(html_7fd18542e5ddeadc1768929a261dd22f);
            
        

        marker_ebcde1d0bdb4ff3a0428ba00a00d5cea.bindPopup(popup_8dd7ccb8f26674023d25a3342734da74)
        ;

        
    
    
            var marker_9a617a8a61223cbee1d9498419e67e68 = L.marker(
                [56.33502428254962, 43.97606847991595],
                {}
            ).addTo(feature_group_4e691fdd307e5d035cd0ffff0f30935c);
        
    
        var popup_8a1a0105a9234d84d93f76c50ab564f2 = L.popup({"maxWidth": "100%"});

        
            
                var html_2b38806d2a394230a39adec0240dd4af = $(`<div id="html_2b38806d2a394230a39adec0240dd4af" style="width: 100.0%; height: 100.0%;"><b>Стрелка</b><br>Место, где Волга впадает в Оку, отличное для прогулок и отдыха.</div>`)[0];
                popup_8a1a0105a9234d84d93f76c50ab564f2.setContent(html_2b38806d2a394230a39adec0240dd4af);
            
        

        marker_9a617a8a61223cbee1d9498419e67e68.bindPopup(popup_8a1a0105a9234d84d93f76c50ab564f2)
        ;

        
    
    
            var marker_0c3e59651b452d46468710c262abc189 = L.marker(
                [56.3305762179773, 44.009503659812914],
                {}
            ).addTo(feature_group_4e691fdd307e5d035cd0ffff0f30935c);
        
    
        var popup_ada5ffd24edbc1454343d60f611dd032 = L.popup({"maxWidth": "100%"});

        
            
                var html_82924ee1abcfcb427ca5163b5796a9db = $(`<div id="html_82924ee1abcfcb427ca5163b5796a9db" style="width: 100.0%; height: 100.0%;"><b>Чкаловская лестница</b><br>Известная лестница с 560 ступенями, ведущая к Волге.</div>`)[0];
                popup_ada5ffd24edbc1454343d60f611dd032.setContent(html_82924ee1abcfcb427ca5163b5796a9db);
            
        

        marker_0c3e59651b452d46468710c262abc189.bindPopup(popup_ada5ffd24edbc1454343d60f611dd032)
        ;

        
    
    
            var marker_61da145402e3f480044adeac63aa12cc = L.marker(
                [56.328492644568, 43.96124942676731],
                {}
            ).addTo(feature_group_4e691fdd307e5d035cd0ffff0f30935c);
        
    
        var popup_60c04b677d2375cb53a245b16ace049a = L.popup({"maxWidth": "100%"});

        
            
                var html_8e3c4abb8bb748d3112fd7dcb58b6385 = $(`<div id="html_8e3c4abb8bb748d3112fd7dcb58b6385" style="width: 100.0%; height: 100.0%;"><b>Нижегородская ярмарка</b><br>Центральный выставочный центр Нижнего Новгорода</div>`)[0];
                popup_60c04b677d2375cb53a245b16ace049a.setContent(html_8e3c4abb8bb748d3112fd7dcb58b6385);
            
        

        marker_61da145402e3f480044adeac63aa12cc.bindPopup(popup_60c04b677d2375cb53a245b16ace049a)
        ;

        
    
    
            var marker_d765c1f697fca478d07cd59dfc8c5510 = L.marker(
                [56.278789752399426, 43.974851013270836],
                {}
            ).addTo(feature_group_4e691fdd307e5d035cd0ffff0f30935c);
        
    
        var popup_6dee9a2e756d4ab856f8a6c822cd4174 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb1d38b42429f58d5adc6dea0ea75281 = $(`<div id="html_eb1d38b42429f58d5adc6dea0ea75281" style="width: 100.0%; height: 100.0%;"><b>Парк Швейцария</b><br>Один из крупнейших парков города, отличное место для прогулок.</div>`)[0];
                popup_6dee9a2e756d4ab856f8a6c822cd4174.setContent(html_eb1d38b42429f58d5adc6dea0ea75281);
            
        

        marker_d765c1f697fca478d07cd59dfc8c5510.bindPopup(popup_6dee9a2e756d4ab856f8a6c822cd4174)
        ;

        
    
    
            feature_group_4e691fdd307e5d035cd0ffff0f30935c.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var feature_group_671ca97c0db80c7b860be4e2c743cac9 = L.featureGroup(
                {}
            );
        
    
            var marker_bd6c20e23a06ecb0a90016bd137976c6 = L.marker(
                [56.32219007143675, 44.01012612592627],
                {}
            ).addTo(feature_group_671ca97c0db80c7b860be4e2c743cac9);
        
    
        var popup_b7e891b81be54bcb8b675deb20aea222 = L.popup({"maxWidth": "100%"});

        
            
                var html_0276cbc737af88c3a004f895ba162ed2 = $(`<div id="html_0276cbc737af88c3a004f895ba162ed2" style="width: 100.0%; height: 100.0%;"><b>ПАО Сбербанк</b><br>Моя будущая работа</div>`)[0];
                popup_b7e891b81be54bcb8b675deb20aea222.setContent(html_0276cbc737af88c3a004f895ba162ed2);
            
        

        marker_bd6c20e23a06ecb0a90016bd137976c6.bindPopup(popup_b7e891b81be54bcb8b675deb20aea222)
        ;

        
    
    
            feature_group_671ca97c0db80c7b860be4e2c743cac9.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var tile_layer_6e9a2817da23611d1bfc56f9f82e08d1 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_6e9a2817da23611d1bfc56f9f82e08d1.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var tile_layer_bb5f3b6c1903f0b43689ade53f71666a = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_bb5f3b6c1903f0b43689ade53f71666a.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var tile_layer_057129d55f571d8f6dd49e8c9d6cf269 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data \u00a9 OpenStreetMap contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_057129d55f571d8f6dd49e8c9d6cf269.addTo(map_ab374d0e559444a230254931749b8d76);
        
    
            var layer_control_224bc8ced8ec4b9c9f071acfdcacd955_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_057129d55f571d8f6dd49e8c9d6cf269,
                    "cartodbpositron" : tile_layer_6e9a2817da23611d1bfc56f9f82e08d1,
                    "cartodbdarkmatter" : tile_layer_bb5f3b6c1903f0b43689ade53f71666a,
                },
                overlays :  {
                    "\u041e\u0442\u043e\u0431\u0440\u0430\u0437\u0438\u0442\u044c \u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043d\u044b\u0435 \u043c\u0435\u0441\u0442\u0430" : feature_group_4e691fdd307e5d035cd0ffff0f30935c,
                    "\u043c\u0435\u0441\u0442\u043e \u0440\u0430\u0431\u043e\u0442\u044b" : feature_group_671ca97c0db80c7b860be4e2c743cac9,
                },
            };
            let layer_control_224bc8ced8ec4b9c9f071acfdcacd955 = L.control.layers(
                layer_control_224bc8ced8ec4b9c9f071acfdcacd955_layers.base_layers,
                layer_control_224bc8ced8ec4b9c9f071acfdcacd955_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_ab374d0e559444a230254931749b8d76);

        
</script>
</html>